replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/payetonkawa-epsi-2025/products-v2/paye-ton-kawa--products
  pullPolicy: IfNotPresent

imagePullSecrets: []

service:
  type: ClusterIP
  port: 80
  containerPort: 8081

httpRoute:
  enabled: false

ingress:
  enabled: false

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

# Database configuration
database:
  dsn: "postgres://postgresadmin:postgresadmin@database:5432/products"

# RabbitMQ configuration
rabbitmq:
  dsn: "amqp://admin:rabbitmq@rabbitmq.default.svc.cluster.local:5672"
